
Character Info/Banjo & Kazooie.json
Character Info/Bayonetta.json
Character Info/Bowser Jr.json
Character Info/Bowser.json
Character Info/Byleth.json
Character Info/Captain Falcon.json
Character Info/Chrom.json
Character Info/Cloud.json
Character Info/Corrin.json
Character Info/Daisy.json
Character Info/Dark Pit.json
Character Info/Dark Samus.json
Character Info/Diddy Kong.json
Character Info/Donkey Kong.json
Character Info/Dr Mario.json
Character Info/Duck Hunt.json
Character Info/Falco.json
Character Info/Fox.json
Character Info/Ganondorf.json
Character Info/Greninja.json
Character Info/Hero.json
Character Info/Ice Climbers.json
Character Info/Ike.json
Character Info/Incineroar.json
Character Info/Inkling.json
Character Info/Isabelle.json
Character Info/Jigglypuff.json
Character Info/Joker.json
Character Info/Kazuya.json
Character Info/Ken.json
Character Info/King Dedede.json
Character Info/King K Rool.json
Character Info/Kirby.json
Character Info/Link.json
Character Info/Little Mac.json
Character Info/Lucario.json
Character Info/Lucas.json
Character Info/Lucina.json
Character Info/Luigi.json
Character Info/Mario.json
Character Info/Marth.json
Character Info/Mega Man.json
Character Info/Meta Knight.json
Character Info/Mewtwo.json
Character Info/Mii Brawler.json
Character Info/Mii Gunner.json
Character Info/Mii Swordfighter.json
Character Info/Min Min.json
Character Info/Mr Game & Watch.json
Character Info/Ness.json
Character Info/Olimar.json
Character Info/Pac Man.json
Character Info/Palutena.json
Character Info/Peach.json
Character Info/Pichu.json
Character Info/Pikachu.json
Character Info/Piranha Plant.json
Character Info/Pit.json
Character Info/Pokemon Trainer.json
Character Info/Pyra & Mythra.json
Character Info/Random.json
Character Info/Richter.json
Character Info/Ridley.json
Character Info/Rob.json
Character Info/Robin.json
Character Info/Rosalina & Luma.json
Character Info/Roy.json
Character Info/Ryu.json
Character Info/Samus.json
Character Info/Sephiroth.json
Character Info/Sheik.json
Character Info/Shulk.json
Character Info/Simon.json
Character Info/Snake.json
Character Info/Sonic.json
Character Info/Sora.json
Character Info/Steve.json
Character Info/Terry.json
Character Info/Toon Link.json
Character Info/Villager.json
Character Info/Wario.json
Character Info/Wii Fit Trainer.json
Character Info/Wolf.json
Character Info/Yoshi.json
Character Info/Young Link.json
Character Info/Zelda.json
Character Info/Zero Suit Samus.json
InterfaceInfo.json
Simple Texts/Caster 1 Name.txt
Simple Texts/Caster 1 Twitch.txt
Simple Texts/Caster 1 Twitter.txt
Simple Texts/Caster 2 Name.txt
Simple Texts/Caster 2 Twitch.txt
Simple Texts/Caster 2 Twitter.txt
Simple Texts/Format.txt
Simple Texts/Player 1.txt
Simple Texts/Player 2.txt
Simple Texts/Round.txt
Simple Texts/Score 1.txt
Simple Texts/Score 2.txt
Simple Texts/Tournament Name.txt
